/*
 * @Author: wkiwi
 * @Email: w_kiwi@163.com
 * @Date: 2019-10-15 14:03:41
 * @LastEditors: wkiwi
 * @LastEditTime: 2020-06-14 16:28:07
 */

/* -----------------------------------------------------------------------------
  阿里icon    注意所有url必须为https:
  ----------------------------------------------------------------------------- */

@font-face {
  font-family: "iconfont"; /* project id 1077239 */
  src: url("https://at.alicdn.com/t/font_1077239_uf3io1athjo.eot");
  src: url("https://at.alicdn.com/t/font_1077239_uf3io1athjo.eot?#iefix")
      format("embedded-opentype"),
    url("https://at.alicdn.com/t/font_1077239_uf3io1athjo.woff2")
      format("woff2"),
    url("https://at.alicdn.com/t/font_1077239_uf3io1athjo.woff") format("woff"),
    url("https://at.alicdn.com/t/font_1077239_uf3io1athjo.ttf")
      format("truetype"),
    url("https://at.alicdn.com/t/font_1077239_uf3io1athjo.svg#iconfont")
      format("svg");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic_luntan:before {
  content: "\e613";
}

.ic_huodong:before {
  content: "\e679";
}

.ic_shuji:before {
  content: "\e774";
}

.ic_ziliao:before {
  content: "\e639";
}

.ic_rili:before {
  content: "\e642";
}

.ic_liulan:before {
  content: "\e634";
}

.ic_shoucang:before {
  content: "\e6a2";
}

.ic_gonggao:before {
  content: "\e892";
}

.ic_jubao:before {
  content: "\e618";
}

.ic_xunwuqishi:before {
  content: "\e63c";
}

.ic_shiwuzhaoling:before {
  content: "\e614";
}

.ic_meishi:before {
  content: "\e6e3";
}

.ic_add:before {
  content: "\e617";
}

.ic_grade:before {
  content: "\e652";
}

.ic_guanbi:before {
  content: "\e694";
}

.ic_share:before {
  content: "\e6ad";
}

.ic_biaobai:before {
  content: "\e622";
}

.ic_zan:before {
  content: "\e650";
}

.ic_pinglun:before {
  content: "\e633";
}

.ic_lottery:before {
  content: "\e611";
}

.ic_bug:before {
  content: "\e60e";
}

.ic_lishi:before {
  content: "\e65f";
}

.ic_qq:before {
  content: "\e60d";
}

.ic_you:before {
  content: "\e69a";
}

.ic_fadeback:before {
  content: "\e615";
}

.ic_weixin:before {
  content: "\e61d";
}

.ic_guize:before {
  content: "\e600";
}

.ic_guanyu:before {
  content: "\e646";
}

.ic_xuehao:before {
  content: "\e6bf";
}

.ic_louceng:before {
  content: "\e635";
}

.ic_dingwei:before {
  content: "\e62e";
}

.ic_kefu:before {
  content: "\e63a";
}

.ic_guanli:before {
  content: "\e60c";
}

.ic_yuan:before {
  content: "\e60a";
}

.ic_weigui:before {
  content: "\e604";
}

.ic_saomiao:before {
  content: "\e66f";
}

.ic_seat:before {
  content: "\e721";
}

.ic_seat_active:before {
  content: "\e729";
}

.ic_yuan-active:before {
  content: "\e647";
}

.ic_shuzi:before {
  content: "\e63b";
}

.ic_name:before {
  content: "\e609";
}

.ic_illegal:before {
  content: "\e61a";
}

.ic_quanxian:before {
  content: "\e89d";
}

.ic_yibiaopan:before {
  content: "\e6d1";
}

.ic_tongzhi:before {
  content: "\e632";
}

.ic_ranking:before {
  content: "\e6e5";
}

.ic_home:before {
  content: "\e6e9";
}

.ic_zuowei:before {
  content: "\e6ee";
}

.ic_wode:before {
  content: "\e654";
}

.ic_more:before {
  content: "\e682";
}

.ic_circle_add:before {
  content: "\e66c";
}

.ic_circle_praise:before {
  content: "\e601";
}

.ic_circle_share:before {
  content: "\e659";
}

.ic_back_top:before {
  content: "\e616";
}

.ic_menu:before {
  content: "\e643";
}

.ic_over:before {
  content: "\e605";
}

.ic_jieshu:before {
  content: "\e60b";
}

.ic_rice:before {
  content: "\e619";
}
